---
import Tag from './Tag.astro'
import Icon from './Icon.astro'
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'

interface Props {
  title: string
  href: string
  description?: string
  date?: string
  authors?: string
  extraInput?: string
  tags?: string[]
  externalUrl?: string
  img?: string
  img_alt?: string
}

const {
  title,
  href,
  description,
  date,
  authors,
  extraInput,
  tags,
  externalUrl,
  img,
  img_alt,
} = Astro.props

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/preview/*.{jpeg,jpg,png,gif}'
)
if (!images[img])
  throw new Error(
    `"${img}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  )

const shortFile = img.slice(20, -4)
const imgNote = {
  '778_homepage': 'working with a nonprofit!',
  '777_desert-museum': 'interactive map viewer',
  '777_cancer-nitrate': 'data-vis with python',
  '576_cycle-repair': 'learning Google Cloud',
  '576_dragon': 'deep dive into ArcGIS SDK for JS',
  '576_venice': 'learning ArcGIS SDK for JS',
  '575_mississippi': 'combining hydrology and GIS',
  '575_az-d3': 'learning D3 JS',
  '575_airquality_leaflet': 'learning Leaflet JS',
  '572_ghibli': 'cartographic styling and mapbox',
  'az-sketchy': 'cartographic styling and ArcGIS Pro',
  bridgeport: 'cartographic styling and ArcGIS Pro',
  '572_houseplant_bivariate': 'research, data analysis, and charts',
  '572_cycling_map': 'practicing cartography',
  '370_crochet': 'combing crochet and GIS',
  '370_sleep': 'choropleth mappping',
  '370_africa': 'labels, labels, labels',
  '370_arizona': 'my first cartography project!',
}
const imgStyle = {
  '778_homepage': 'object-position: 0 0',
  '777_desert-museum': 'object-position: 0 0',
  '777_cancer-nitrate': 'background-color: #FFF',
  '576_cycle-repair': 'object-position: 0 0',
  '576_dragon': 'object-position: 100% 100%',
  '576_venice': 'object-position: 40% 100%',
  '575_mississippi': 'object-position: 100% 100%',
  '575_az-d3': 'object-fit: contain; background-color: rgb(22, 37, 54)',
  '575_airquality_leaflet': 'object-position: 0 0',
  '572_ghibli': 'object-position: 20% 0',
  'az-sketchy': 'object-fit: contain; background-color: rgb(243, 238, 217)',
  bridgeport: '',
  '572_houseplant_bivariate':
    'object-fit: contain; background-color: rgb(253, 253, 249)',
  '572_cycling_map': 'object-position: 85% 100%',
  '370_crochet': 'object-position: 50% 40%',
  '370_sleep': 'object-fit: contain; background-color: rgb(236, 241, 250)',
  '370_africa': '',
  '370_arizona':
    'object-fit: contain; background-color: #FFF; background-image: linear-gradient(to bottom, rgb(136, 207, 199), #FFF 18% 83%, rgb(244, 206, 141) 97.5%, rgb(100, 52, 101) 97.5%);',
}
---

<!-- https://uiverse.io/Smit-Prajapati/great-bat-98 cool card-->
<article class="card">
  <a href={href} class="card-title">{title}</a>

  <div
    class="card-content border-border flex flex-col flex-wrap items-center gap-2 border-t p-2 pb-4 md:flex-row md:items-start">
    <div class="border-accent flex-none">
      <a href={href} class="card-img-link rounded-sm">
        <img
          src={img}
          alt={img_alt}
          width="260"
          class="card-img rounded-sm border p-1"
        />
      </a>
    </div>

    <div class="flex flex-1 flex-col gap-2 px-4 md:px-0">
      {img && description && <p class="card-desc">{description}</p>}
      {
        tags && tags.length > 0 && (
          <div class="mb-3 flex flex-wrap gap-2 md:flex-col">
            {tags.map((tag) => (
              <Tag name={tag} size="sm" />
            ))}
          </div>
        )
      }
    </div>
  </div>

  {
    externalUrl && (
      <div class="shrink-0">
        <a
          href={externalUrl}
          target="_blank"
          rel="noopener noreferrer"
          class="card-link">
          <span class="flex items-center gap-1">
            <span>View live site</span>
            <Icon name="ExternalLink" size={24} />
          </span>
        </a>
      </div>
    )
  }
</article>
